# Projeto de Análise de dados - Vendas de autoveículos

Análise de dados de vendas mensais de autoveículos do mercado interno, correspondentes ao período de 1981-01 a 2023-04.

#### Fonte: Portal de Dados Abertos do Banco Central do Brasil 
##### (Disponível em: https://dadosabertos.bcb.gov.br/dataset/1379-vendas-de-autoveiculos-no-mercado-interno. Acesso em 19 maio 2023)

## Vendas de autoveículos no mercado interno

## Preparo dos dados:

In [1]:
# Importação das bibliotecas e módulos
import pandas as pd
from datetime import datetime as dt

# Leitura do arquivo e armazenamento na variável "df_vendas"
df_vendas = pd.read_json("https://api.bcb.gov.br/dados/serie/bcdata.sgs.1379/dados?formato=json")

# Captura de informações do arquivo
print(df_vendas.info())
df_vendas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    508 non-null    object
 1   valor   508 non-null    int64
dtypes: int64(1), object(1)
memory usage: 8.1+ KB
None

           data   valor
0    01/01/1981   73363
1    01/02/1981   48973
2    01/03/1981   40523
3    01/04/1981   48580
4    01/05/1981   41750
..          ...     ...
503  01/12/2022  187179
504  01/01/2023  122410
505  01/02/2023  112446
506  01/03/2023  171427
507  01/04/2023  138072

[508 rows x 2 columns]

In [2]:
# Alteração do formato das datas
df_vendas['data'] = pd.to_datetime(df_vendas['data'], dayfirst=True)

# Organização da coluna de data em ordem decrescente 
df_vendas.sort_values(by='data', ascending=False, inplace=True)

# Formatação das datas mantendo apenas o mês e o ano
df_vendas['data'] = df_vendas['data'].dt.strftime('%m-%Y')

# Mudança dos índices para a data correspondente 
df_vendas.set_index(keys=['data'], inplace=True)
df_vendas.head()

          valor
data
04-2023  138072
03-2023  171427
02-2023  112446
01-2023  122410
12-2022  187179

## Extração de informações

### 01-1981 a 04-2023

#### 1) Número de autoveículos vendidos durante o período:

In [3]:
# Criação de uma função que formate sem casas decimais e com '.' como separador de milhar qualquer valor. 
def formatar_valor(valor):
    return "{:,.0f}".format(valor).replace(",", ".")

# Soma dos valores da coluna 'valor' e uso da formatação
vendas_soma = formatar_valor(df_vendas['valor'].sum())
print(f'Durante o período de 01-1981 a 04-2023 foram vendidos {vendas_soma} autoveículos no mercado interno. ')

Durante o período de 01-1981 a 04-2023 foram vendidos 66.683.198 autoveículos no mercado interno.

#### 2) Meses com menor e maior número de autoveículos vendidos:

In [4]:
# Seleção de índices e de seus respectivos valores com menor e maior número de vendas  
mes_min = df_vendas['valor'].idxmin()
valor_mes_min = formatar_valor(df_vendas['valor'].min())
mes_max = df_vendas['valor'].idxmax()
valor_mes_max = formatar_valor(df_vendas['valor'].max())

print(f'Mês com menor número de autoveículos vendidos: {mes_min} ({valor_mes_min} autoveículos)')
print(f'Mês com maior número de autoveículos vendidos: {mes_max} ({valor_mes_max} autoveículos)')

Mês com menor número de autoveículos vendidos: 04-1985 (25.023 autoveículos)
Mês com maior número de autoveículos vendidos: 08-2012 (340.910 autoveículos)

### 01-2019 (pré-pandemia) a 12-2022

#### 3) Número de autoveículos vendidos durante o período:

In [5]:
# Filtragem do período de 01-2019 a 12-2022
vendas1 = df_vendas.loc['12-2022':'01-2019']

# Soma dos valores da coluna 'valor' e formatação do resultado 
vendas_soma1 = formatar_valor(vendas1['valor'].sum())

print(f'Durante o período de 01-2019 a 12-2022 foram vendidos {vendas_soma1} autoveículos no mercado interno. ')

Durante o período de 01-2019 a 12-2022 foram vendidos 8.034.076 autoveículos no mercado interno.

#### 4) Número de autoveículos vendidos por ano:

In [6]:
#Filtragem dos respectivos anos 
_2019 = df_vendas.loc['12-2019':'01-2019']
_2020 = df_vendas.loc['12-2020':'01-2020']
_2021 = df_vendas.loc['12-2021':'01-2021']
_2022 = df_vendas.loc['12-2022':'01-2022']

#Somatória de unidades vendidas por ano
vendas_2019 = int(_2019.sum())
vendas_2020 = int(_2020.sum())
vendas_2021 = int(_2021.sum())
vendas_2022 = int(_2022.sum())

#Dicionário com os anos e somatória de unidades vendidas 
somatoria = {
    'Ano': ['2019', '2020', '2021', '2022'],
    'Valores':[vendas_2019, vendas_2020, vendas_2021, vendas_2022]
}

#Criação de DataFrame com a soma de vendas de cada ano 
somatoria_2019a2022 = pd.DataFrame(somatoria)

# Definição da coluna 'Ano' como índice
somatoria_2019a2022 = somatoria_2019a2022.set_index('Ano')

# Formatação da coluna 'Valores' 
somatoria_2019a2022['Valores'] = somatoria_2019a2022['Valores'].map(formatar_valor)

print('O número de unidades vendidas por ano no período de 2019-2022 pode ser conferida na tabela a seguir: ')
somatoria_2019a2022

O número de unidades vendidas por ano no período de 2019-2022 pode ser conferida na tabela a seguir:

        Valores
Ano
2019  2.490.193
2020  1.846.818
2021  1.866.073
2022  1.830.992

#### 5) Meses com menor e maior número de autoveículos vendidos:

In [7]:
# Seleção de índices e de seus respectivos valores com menor e maior número de vendas 
mes_min1 = vendas1['valor'].idxmin()
valor_mes_min1 = formatar_valor(vendas1['valor'].min())
mes_max1 = vendas1['valor'].idxmax()
valor_mes_max1 = formatar_valor(vendas1['valor'].max())

print('No período de 2019-2022: ')
print(f'Mês com menor número de autoveículos vendidos: {mes_min1} ({valor_mes_min1} autoveículos)')
print(f'Mês com maior número de autoveículos vendidos: {mes_max1} ({valor_mes_max1} autoveículos)')

No período de 2019-2022:
Mês com menor número de autoveículos vendidos: 04-2020 (47.368 autoveículos)
Mês com maior número de autoveículos vendidos: 12-2019 (233.063 autoveículos)

#### 6) Média de autoveículos vendidos por mês em cada ano:

In [8]:
#Média mensal de unidades vendidas por ano 
media_2019 = int(_2019.mean())
media_2020 = int(_2020.mean())
media_2021 = int(_2021.mean())
media_2022 = int(_2022.mean())

#Dicionário com os anos e a média mensal de unidades vendidas 
media = {
    'Ano': ['2019', '2020', '2021', '2022'],
    'Valores':[media_2019, media_2020, media_2021, media_2022]
}

#Criação de DataFrame com a média mensal de vendas de cada ano 
media_2019a2022 = pd.DataFrame(media)

# Definição da coluna 'Ano' como índice
media_2019a2022 = media_2019a2022.set_index('Ano')

# Formatação da coluna 'Valores' 
media_2019a2022['Valores'] = media_2019a2022['Valores'].map(formatar_valor)

print('A média de unidades vendidas por mês em cada ano, de 2019-2022, pode ser conferida na tabela a seguir: ')
media_2019a2022

A média de unidades vendidas por mês em cada ano, de 2019-2022, pode ser conferida na tabela a seguir:

      Valores
Ano
2019  207.516
2020  153.901
2021  155.506
2022  152.582

### Comparação entre os quatro primeiros meses de 2019 (pré-pandemia) e 2023 (pós-pandemia)

#### 7) Número de autoveículos vendidos:

In [9]:
# Filtragem do período 
_4meses_2019 = df_vendas.loc['04-2019':'01-2019']
_4meses_2023 = df_vendas.loc['04-2023':'01-2023']

# Formatação do resultado da somas por período analisado
soma__4meses_2019 = formatar_valor(_4meses_2019['valor'].sum())
print(f'Durante os quatro primeiros meses de 2019 foram vendidos {soma__4meses_2019} autoveículos no mercado interno. ')

soma__4meses_2023 = formatar_valor(_4meses_2023['valor'].sum())
print(f'Durante os quatro primeiros meses de 2023 foram vendidos {soma__4meses_2023} autoveículos no mercado interno. ')

Durante os quatro primeiros meses de 2019 foram vendidos 744.529 autoveículos no mercado interno.
Durante os quatro primeiros meses de 2023 foram vendidos 544.355 autoveículos no mercado interno.

#### 8) Comparação do número de autoveículos vendidos em Abril/2019 e Abril/2023.

In [10]:
#Filtragem do período e formatação do valor
abril_2019 = formatar_valor(int(df_vendas.loc['04-2019']))
abril_2023 = formatar_valor(int(df_vendas.loc['04-2023']))

print(f'Em Abril/2019 foram vendidos {abril_2019} autoveículos e em Abril/2023, {abril_2023}.')

Em Abril/2019 foram vendidos 205.774 autoveículos e em Abril/2023, 138.072.

In [11]:
#Cálculo de diferença
diferenca = float(abril_2019) - float(abril_2023)
print(f'Em Abril/2023 foram vendidos {diferenca} autoveículos a menos que em Abril/2019.')

Em Abril/2023 foram vendidos 67.702 autoveículos a menos que em Abril/2019.

In [12]:
#Porcentagem de diferença 
porcentagem = ((float(abril_2023) - float(abril_2019)) / float(abril_2019)) * 100

#Mensagem de saída com o número formatado como porcentagem, duas casas decimais e positivo 
print("O número de vendas caiu {:.2f}% em Abril/2023 comparado a Abril/2019.".format(abs(porcentagem)))

O número de vendas caiu 32.90% em Abril/2023 comparado a Abril/2019.

### Comparação entre 2022 e 2023 (quatro primeiros meses)

#### 9) Número de autoveículos vendidos:

In [13]:
# Filtragem do período 
_4meses_2022 = df_vendas.loc['04-2022':'01-2022']
_4meses_2023 = df_vendas.loc['04-2023':'01-2023']

# Formatação do resultado da somas por período analisado
soma__4meses_2022 = formatar_valor(_4meses_2022['valor'].sum())
print(f'Durante os quatro primeiros meses de 2022 foram vendidos {soma__4meses_2022} autoveículos no mercado interno. ')

soma__4meses_2023 = formatar_valor(_4meses_2023['valor'].sum())
print(f'Durante os quatro primeiros meses de 2023 foram vendidos {soma__4meses_2023} autoveículos no mercado interno. ')

Durante os quatro primeiros meses de 2022 foram vendidos 482.940 autoveículos no mercado interno.
Durante os quatro primeiros meses de 2023 foram vendidos 544.355 autoveículos no mercado interno.

#### 10) Comparação do número de autoveículos vendidos em Abril/2022 e Abril/2023

In [14]:
#Filtragem do período e formatação do valor
abril_2022 = formatar_valor(int(df_vendas.loc['04-2022']))
abril_2023 = formatar_valor(int(df_vendas.loc['04-2023']))

print(f'Em Abril/2022 foram vendidos {abril_2022} autoveículos e em Abril/2023, {abril_2023}.')

Em Abril/2022 foram vendidos 128.362 autoveículos e em Abril/2023, 138.072.

In [15]:
#Cálculo de diferença
diferenca1 = float(abril_2023) - float(abril_2022)

#Impressão da mensagem e do valor da diferença com 3 casas decimais 
print("Em Abril/2023 foram vendidos {:.3f} autoveículos a mais que em Abril/2022.".format(diferenca1))

Em Abril/2023 foram vendidos 9.710 autoveículos a mais que em Abril/2022.

In [16]:
#Porcentagem de diferença 
porcentagem1 = ((float(abril_2023) - float(abril_2022)) / float(abril_2022)) * 100

#Mensagem de saída com o número formatado como porcentagem e duas casas decimais
print("O número de vendas cresceu {:.2f}% em Abril/2023 comparado a Abril/2022".format(porcentagem1))

O número de vendas cresceu 7.56% em Abril/2023 comparado a Abril/2022